---
---

@import "{{ site.theme }}";

// .wrapper {
//   width:1200px;
//   // left side is 270
//   // 1200-270 = 930
//   // 30px free room
//   margin:0 auto;
//   overflow-y: scroll; /* Enable vertical scrolling */
//   scrollbar-gutter:var(--gutter,auto);
// }
.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow-y: auto; 
}

section {
  width:60%;
  float:right;
  padding-bottom:50px;
}

header .sidebar{
  position: relative;
  width:40%; 
  height: 100vh; /* Adjust the height as needed; '100vh' means full viewport height */
  margin:0 auto;
  float:left;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Set a maximum height for the sidebar */
  // scrollbar-gutter:var(--gutter,auto);
}
